# Environment Variables Example
# Copy this file to .env and fill in the values

PORT= #your_port

NODE_ENV= # development | production | test

API_URL= #http://localhost:your_port/api

CLIENT_URL= #http://localhost:your_port

DATABASE_URL= #your_database_url

JWT_SECRET= #your_jwt_secret

ANTHROPIC_API_KEY= #your_anthropic_api_key (get it from console.anthropic.com)
